/* Футер */
.footer_n {
 background: #121318;
 color: white;
 padding-top: 80px;
 padding-bottom: 102px;
 font-size: 14px;
 }

.wrap {
margin: 0 auto;
width: 100;
max-width: 1280px;
padding: 0 85px;
}

.d_flex {
display: flex;
flex-direction: row;
}

.footer_n_logo {
margin-right: 65px;
margin-bottom: 0px;

}

.footer_n_logo_d_flex {
display: flex;
gap: 16px;
}

.footer_n_logo_pic {
width: 100px;
}

.w-100 {
width: 70px;
}

.footer_n_logo_copyright {
font-size: 12px;
line-height: 1.4;
}

footer_n_nav_div_qhsc {
min-width: 28%;
margin-right: 65px;
margin-bottom: 0px;
}

footer_n_nav_qhsc {
line-height: 1.4;
}

.footer_n_contacts {
margin-left: 80px;
}


/* Хедер */
.header_n {
padding-top: 32px;
padding-bottom: 24px; }
@media (max-width: 1439px)
}

header_n__wrap {
display: flex;
flex-direction: row;
gap: 32px;
}

.header_n__left {
  margin-right: 32px; }

.w-50 {
width: 250px;
}

.header_n__logo-img {
display: flex;
width: 141px;
height: 69px;
background-size: 100% auto;
background-position: top left;
background-repeat: no-repeat;
}

.header_n__right {
display: flex;
align-items: stretch;
justify-content: space-between;
flex: 1;
position: relative;
}

.header_n__left-group {
max-width: 371px;
flex-wrap: nowrap;
flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
}

/*.mob-hidden {
display: none;
}*/

.header_n-menu {
  display: flex;
  gap: 16px;
  margin-top: 3px; }

.header_n-menu-item__link {
  font-size: 13px;
  line-height: 1;
  color: #121318;
  font-weight: 500;
  white-space: nowrap; }

.header_n__right-group {
display: flex;
flex-direction: column;
align-items: flex-end;
}

.mob-hidden {
display: none;
}